@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #080808;
  color: #e8d9b0;
  font-family: Georgia, serif;
  min-height: 100vh;
  margin: 0;
}

* {
  box-sizing: border-box;
}
